## Ignore: User-specific, IDE, build, and temp files

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser
*.sdf
*.cache
*.VC.db
*.VC.VC.opendb
*.ncb
*.aps
*.opt
*.plg
*.vbw

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
bld/
artifacts/
*.log
*.tlog
*.tmp
*.tmp_proj
*.builds
*.binlog

# MSBuild
*.ilk
*.meta
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh

# Test Results
[Tt]est[Rr]esult*/
*.coverage
*.coveragexml
*.trx
*.VisualState.xml
TestResult.xml
nunit-*.xml
*.vspscc
*.vssscc

# Code coverage tools
*.dotCover
coverage*.*
coverage/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Rider logs
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/mongoSettings.xml
.idea/httpRequests
.idea/caches/build_file_checksums.ser

# Fakes
FakesAssemblies/

# BenchmarkDotNet
BenchmarkDotNet.Artifacts/

# Publish & ClickOnce
publish/
*.publish.xml
*.azurePubxml
*.pubxml
*.publishproj
PublishScripts/

# NuGet
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Node.js
node_modules/
.ntvs_analysis.dat
*.tsbuildinfo

# Azure
csx/
*.build.csdef
ecf/
rcf/
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
*.appx
*.appxbundle
*.appxupload

# Logs, db, and temp files
*.svclog
*.dbmdl
*.mdf
*.ldf
*.ndf
*.bak
*.pidb
*.jfm
*.pfx
*.publishsettings
~$*
*~

# Others
ClientBin/
Generated_Code/
ServiceFabricBackup/
MigrationBackup/
UpgradeLog*.*
Backup*/
_UpgradeReport_Files/
*.rptproj.bak
*.jmconfig
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs
*.mm.*
AutoTest.Net/
.sass-cache/
*.e2e
*.gpState
*.sap
*.psess
*.vsp*
*.dbproj.schemaview
*.code-workspace
*.iws
out/
cmake-build-*/
.mfractor/
.axoCover/*
!.axoCover/settings.json
_pvt_extensions/
fake/
.paket/
paket-files/
.cr/personal

# Ignore local tooling binaries
tools/
!tools/packages.config
